/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Anton Lukashov | cassador.ru */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Tech Styles */

* { margin:0; padding:0; outline:none; }
html, body { height:100%; -webkit-text-size-adjust:100%; text-size-adjust:100%; }

.cl:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
.bl { display:block; }

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Main Styles */

body { background:#fff; color:#666; font-family:'nerislight'; font-size:17px; }

ul { list-style:none; }
strong { font-weight:normal; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:#aaa; opacity:1; }
input::-moz-placeholder, textarea::-moz-placeholder { color:#aaa; opacity:1; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { opacity:0; }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { opacity:0; }
textarea { overflow:auto; resize:none; }

.noselect { -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; }
.popup_overlay { background:rgba(0,0,0,0.5); display:none; height:100%; left:0; position:fixed; top:0; width:100%; z-index:10; }
.popup { background:rgba(255,255,255,0.9); display:none; position:fixed; padding:30px 50px 20px; z-index:11; }
.popup_close { display:none; cursor:pointer; }
  .popup .popup-title { border-bottom:solid 1px #666; font-family:'neristhin'; font-size:30px; line-height:40px; margin:0 0 20px; padding:0 0 10px; text-align:center; text-transform:uppercase; }
  .popup p { color:#3a7aaf; font-size:22px; line-height:25px; padding:0 0 20px; text-align:center; }

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Forms */

form { margin-right:-20px; }
form span.desc { display:block; padding:5px 0; }

label { background:#fff; border:solid 1px #aaa; border-radius:5px; display:inline-block; height:63px; margin:0 0 10px; position:relative; }
label.phone { margin:0 16px 10px 0; }
  label input { border:none; border-radius:5px; color:#aaa; font-family:'nerissemibold'; font-size:25px; height:63px; padding:0 10px; text-align:center; }
  label input[name="name"] { width:540px; }
  label input[name="email"] { width:540px; }
  label input[name="phone1"] { width:62px; }
  label input[name="phone2"] { width:62px; }
  label input[name="phone3"] { width:334px; }
label.email { background:#cfcfcf; }
  label.email input { color:#888; background:#cfcfcf; }
  label.email input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:#888; }
  label.email input::-moz-placeholder, textarea::-moz-placeholder { color:#888; }
label.red { border:solid 1px #f00; }

textarea { background:#fff; border:solid 1px #aaa; border-radius:5px; margin:0 0 10px; height:90px; padding:5px 10px; width:542px; }
textarea { color:#aaa; font-family:'nerissemibold'; font-size:25px; }

.btn { border:solid 1px #0f75a4; border-radius:5px; box-shadow:inset 0 1px #1fbfef; color:#fff; cursor:pointer; display:inline-block; }
.btn { font-family:'nerislight'; font-size:30px; line-height:30px; padding:10px 20px 15px; text-align:center; }
a.btn { text-decoration:none; }
form .btn { display:block; margin:30px auto 50px; width:280px; }
.popup form .btn { margin:20px auto 30px; }
form .btn.b2 { width:420px; }
#thx .btn { display:block; margin:30px auto 50px; width:180px; }
.btn.b3 { font-size:27px; }
.btn {
  background:#19aae9;
  background:-moz-linear-gradient(top, #19aae9 0%, #1180dd 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#19aae9), color-stop(100%,#1180dd));
  background:-webkit-linear-gradient(top, #19aae9 0%,#1180dd 100%);
  background:-ms-linear-gradient(top, #19aae9 0%,#1180dd 100%);
  background:linear-gradient(to bottom, #19aae9 0%,#1180dd 100%);
}
.btn:hover {
  background:#4bbbf1;
  background:-moz-linear-gradient(top, #4bbbf1 0%, #339deb 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4bbbf1), color-stop(100%,#339deb));
  background:-webkit-linear-gradient(top, #4bbbf1 0%,#339deb 100%);
  background:-ms-linear-gradient(top, #4bbbf1 0%,#339deb 100%);
  background:linear-gradient(to bottom, #4bbbf1 0%,#339deb 100%);
}
.btn:active {
  background:#1464b1;
  background:-moz-linear-gradient(top, #1464b1 0%, #339deb 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1464b1), color-stop(100%,#339deb));
  background:-webkit-linear-gradient(top, #1464b1 0%,#339deb 100%);
  background:-ms-linear-gradient(top, #1464b1 0%,#339deb 100%);
  background:linear-gradient(to bottom, #1464b1 0%,#339deb 100%);
}

.radio label { background:none; border:none; border-radius:0; color:#526034; display:block; height:auto; }
.radio label { cursor:pointer; font-family:'nerissemibold'; font-size:24px; position:relative; }
<<<<<<< HEAD
.radio label:before { background:url("../img/radio.png"/*tpa=http://enviro-tabs.com/m/i/radio.png*/) 0 -23px no-repeat; content:""; height:23px; width:23px; }
=======
.radio label:before { background:url("../i/radio.png") 0 -23px no-repeat; content:""; height:23px; width:23px; }
>>>>>>> origin/master
.radio label:before { left:50%; margin-left:-11px; position:absolute; top:40px; }
.radio input[type=radio] { visibility:hidden; position:absolute; }
.radio input[type=radio]:checked + label:before { background-position:0 0; }

#slide11 .calc-section .calc-center .calc-sec1 label { border:none; border-radius:25px; height:54px; margin:0; vertical-align:middle; }
  #slide11 .calc-section .calc-center .calc-sec1 label input { border:none; border-radius:25px; color:#000; height:54px; width:80px; }
#slide11 .calc-section .calc-center .calc-sec2 label { border:none; border-radius:25px; height:54px; margin:0; vertical-align:middle; }
  #slide11 .calc-section .calc-center .calc-sec2 label input { border:none; border-radius:25px; color:#000; height:54px; width:80px; }

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* cassador.ru */