/* Main Styles */

.slide-pd { margin:auto; padding:0 20px; position:relative; width:960px; }
.center { text-align:center; }

#menu { left:0; position:fixed; text-align:center; top:0; width:100%; }
  #menu .slide-pd { background:#f6f6f6; border-radius:0 0 5px 5px; box-shadow:0 2px 0 #838383; height:47px; }
  #menu ul { white-space:nowrap; }
    #menu ul li { display:inline-block; font-family:'proxima_nova_excn_ltlight'; padding:10px 4px 0; vertical-align:top; }
      #menu ul li a { color:#666; }
      #menu ul li a:hover { text-decoration:none; }

.big-form { background:rgba(255,255,255,0.7); margin:auto; position:relative; width:880px; }
  .big-form-title-x { border-bottom:solid 1px #666; color:#444; font-size:34px; line-height:44px; margin:0 40px; }
  .big-form-title-x { padding:40px 0 10px; text-align:center; text-transform:uppercase; }
    .big-form-title-x span { font-family:'nerisblack'; }
  .big-form-title-y { border-bottom:solid 1px #666; color:#444; font-size:45px; line-height:50px; margin:0 40px; }
  .big-form-title-y { padding:40px 0 10px; text-align:center; text-transform:uppercase; }
    .big-form-title-y span { font-family:'nerisblack'; }
  .big-form-title-xy { border-bottom:solid 1px #666; color:#444; font-size:42px; line-height:45px; margin:0 40px; }
  .big-form-title-xy { padding:40px 0 10px; text-transform:uppercase; }
    .big-form-title-xy span { font-family:'nerisblack'; }
  .big-form-mega-title { font-family:'nerissemibold'; font-size:34px; line-height:34px; padding:0 0 50px; }
    .big-form-mega-title span { color:#3a7aaf; font-family:'nerislight'; font-size:39px; line-height:40px; text-transform:uppercase; }
  .big-form-mega-title2 { font-size:27px; line-height:34px; padding:0 0 50px; }
    .big-form-mega-title2 span { color:#3a7aaf; font-family:'nerislight'; font-size:39px; line-height:40px; text-transform:uppercase; }
  .big-form-mega-title3 { font-family:'nerissemibold'; font-size:30px; line-height:30px; padding:0 0 30px 90px; }
    .big-form-mega-title3 span { color:#3a7aaf; font-family:'nerislight'; font-size:35px; line-height:40px; text-transform:uppercase;  }
      .big-form-mega-title3 p span { color:#3a7aaf; font-family:'nerislight'; font-size:30px; line-height:30px; text-transform:none; }
  .big-form-left { float:left; padding:30px 0 0; width:280px; }
    .big-form-left .box { background:url("../img/box.png") 0 0 no-repeat; height:281px; width:239px; }
    .big-form-left .dvd { background:url("../img/dvd.png") 50% 0 no-repeat; height:238px; width:270px; }
    .big-form-left .manager { background:url("../img/manager.png") 0 0 no-repeat; bottom:-50px; height:537px; left:-97px; position:absolute; width:392px; }
      .big-form-left .manager span { background:rgba(255,255,255,0.8); display:block; bottom:50px; left:97px; padding:8px 15px; position:absolute; }
      .big-form-left .manager span { color:#444; line-height:20px; }
    .big-form-left .list { padding:5px 0 40px 50px; }
      .big-form-left .list span { color:#148de1; display:block; font-family:'nerissemibold'; font-size:35px; line-height:40px; margin-left:-10px; }
      .big-form-left .list span { padding:0 0 10px; }
      .big-form-left .list ul li { padding:0 0 5px 0; position:relative; }
      .big-form-left .list ul li:after { background:#666; border-radius:100%; content:""; display:block; height:4px; left:-10px; }
      .big-form-left .list ul li:after { width:4px; position:absolute; top:12px; }
    .big-form-left .price { padding:20px 0 40px 50px; }
      .big-form-left .price del { display:block; font-family:'nerissemibold'; font-size:30px; line-height:48px; }
      .big-form-left .price del { position:relative; text-decoration:none; }
      .big-form-left .price del:after { background:#c05245; content:""; display:block; height:1px; width:140px; }
      .big-form-left .price del:after { left:0; position:absolute; top:25px; }
      .big-form-left .price del:after { -webkit-transform:rotate(-10deg); transform:rotate(-10deg); }
      .big-form-left .price span { color:#659900; font-family:'nerisblack'; font-size:40px; line-height:48px; }
  .big-form-right { float:right; padding:30px 40px 0 0; width:560px; }
    .big-form-right .big-form-title { border-bottom:solid 1px #666; font-family:'neristhin'; font-size:31px; line-height:35px; }
    .big-form-right .big-form-title { margin:0 0 20px; padding:0 0 10px; text-transform:uppercase; }
    .big-form-right .big-form-action { padding:0 0 30px; }
      .big-form-right .big-form-action .big-form-action-left { color:#3a7aaf; float:left; font-size:21px; line-height:25px; width:280px; }
        .big-form-right .big-form-action .big-form-action-left span { color:#000; }
      .big-form-right .timer-box { float:right; text-align:center; width:280px; }
        .big-form-right .timer-box p { color:#777; font-family:'neristhin'; padding:0 0 20px; }
        .big-form-right .timer-box .timer { margin-right:-20px; }
          .big-form-right .timer-box .timer div { color:#2c6ca1; float:left; font-size:36px; line-height:40px; text-align:center; }
          .big-form-right .timer-box .timer div.day, .big-form-right .timer-box .timer div.hour,
          .big-form-right .timer-box .timer div.min, .big-form-right .timer-box .timer div.sec { width:65px; }
        .big-form-right .timer-box .timer-bottom { margin-right:-20px; }
          .big-form-right .timer-box .timer-bottom span { display:block; float:left; font-size:14px; line-height:20px; text-align:center; width:68px; }

#slide1 { background:url("../img/bg1.jpg") 50% 0 no-repeat #fff; height:650px; }
  #slide1 #header { padding:55px 0 0; }
    #slide1 #header #logo { background:url("../img/logo.png") 0 0 no-repeat; float:left; text-align:right; width:267px; }
      #slide1 #header #logo span { display:block; font-size:14px; padding:117px 0 0 0; }
    #slide1 #header .header-phones { color:#333; float:right; font-size:14px; text-align:right; width:230px; }
      #slide1 #header .header-phones span { display:block; font-family:'nerissemibold'; font-size:19px; padding:3px 0; }
      #slide1 #header .header-phones a.call { border-bottom:dashed 1px #4181b6; color:#4181b6; font-family:'nerissemibold'; font-size:14px; }
      #slide1 #header .header-phones a.call { text-decoration:none; text-transform:uppercase; }
      #slide1 #header .header-phones a.call:hover { border-bottom:none; }
  #slide1 .picture { background:url("../img/s1_image.jpg") 0 0 no-repeat; height:388px; left:-133px; position:absolute; top:224px; width:547px; }
  #slide1 .slide-title { left:380px; position:absolute; top:180px; }
    #slide1 .slide-title p { font-size:56px; line-height:65px; padding:50 0 0px; }
    #slide1 .slide-title.page2 p { font-size:48px; line-height:55px; }
    #slide1 .slide-title p { text-transform:uppercase; }
    #slide1 .slide-title span { display:block; font-family:'nerissemibold'; font-size:25px; line-height:30px; padding:15px 0 0; }

#slide2, #slide10, #slide15, #slide23 { background:url("../img/bg2.jpg") 50% 0 no-repeat fixed #fff; }
  #slide2 .slide-pd, #slide10 .slide-pd, #slide15 .slide-pd, #slide23 .slide-pd { padding:50px 20px; }

#slide3 { background:#9bc854; color:#526034; }
  #slide3 .slide-pd { padding:50px 20px; }
  #slide3 #orbs { margin:0 -10px; }
    #slide3 #orbs .orb { display:inline-block; vertical-align:top; width:240px; }
      #slide3 #orbs .orb div { background:url("../img/orb.png") 0 0 no-repeat; height:247px; position:relative; width:247px; }
        #slide3 #orbs .orb div span { display:block; height:167px; left:27px; position:absolute; top:21px; width:167px; }
        #slide3 #orbs .orb.orb1 div span { background:url("../img/orb1.png") 50% 70% no-repeat; }
        #slide3 #orbs .orb.orb2 div span { background:url("../img/orb2.png") 50% 50% no-repeat; }
        #slide3 #orbs .orb.orb3 div span { background:url("../img/orb3.png") 50% 50% no-repeat; }
        #slide3 #orbs .orb.orb4 div span { background:url("../img/orb4.png") 50% 50% no-repeat; }
      #slide3 #orbs .orb p { border-top:solid 1px #526034; font-size:19px; line-height:22px; margin:0 30px 0 10px; padding:10px 0 0; }
        #slide3 #orbs .orb p span { font-size:24px; }

#slide4 { background:url("../img/bg3.jpg") 50% 100% no-repeat #fff; height:500px; }
  #slide4 .slide-block { font-family:'neristhin'; font-size:19px; left:550px; line-height:20px; position:absolute; }
    #slide4 .slide-block span { font-family:'nerislight'; font-size:22px; line-height:22px; }
  #slide4 .slide-block.b1 { top:80px; }
  #slide4 .slide-block.b2 { top:215px; }
  #slide4 .slide-block.b3 { top:345px; }

#slide5 { background:#fff; overflow:hidden; }
  #slide5 .slide-box { margin:0 -10px; }
    #slide5 .slide-box .slide-block { display:inline-block; line-height:20px; padding:110px 30px 40px; vertical-align:top; width:180px; }
    #slide5 .slide-box .slide-block.b1 { background:url("../img/icon1.png") 43% 40px no-repeat; }
    #slide5 .slide-box .slide-block.b2 { background:url("../img/icon2.png") 43% 40px no-repeat; }
    #slide5 .slide-box .slide-block.b3 { background:url("../img/icon3.png") 43% 40px no-repeat; }
    #slide5 .slide-box .slide-block.b4 { background:url("../img/icon4.png") 43% 40px no-repeat; }
    #slide5 .slide-box .slide-block.b5 { background:url("../img/icon5.png") 43% 40px no-repeat; }
    #slide5 .slide-box .slide-block.b6 { background:url("../img/icon6.png") 43% 40px no-repeat; }
    #slide5 .slide-box .slide-block.b7 { background:url("../img/icon7.png") 43% 40px no-repeat; }
      #slide5 .slide-box .slide-block span { color:#3878ad; font-family:'nerissemibold'; }
        #slide5 .slide-box .slide-block span strong { font-family:'neristhin'; font-size:42px; line-height:48px; }
    #slide5 .slide-box .slide-block.title { background:#7fbf09; color:#fff; font-size:19px; line-height:25px; }
    #slide5 .slide-box .slide-block.title { padding:80px 30px 40px; text-transform:uppercase; }
      #slide5 .slide-box .slide-block.title span { color:#fff; font-family:'nerisblack'; font-size:26px; line-height:28px; padding:0 0 15px; }

#slide6, #slide8, #slide17 { background:url("../img/bg4.jpg") 50% 0 no-repeat fixed #fff; }
  #slide6 .slide-pd, #slide8 .slide-pd, #slide17 .slide-pd { padding:50px 20px; }

#slide7 { background:#fff; overflow:hidden; }
  #slide7 .slide-box { margin:0 -10px; padding:0 0 50px; }
    #slide7 .slide-box .slide-block { display:inline-block; font-size:19px; line-height:22px; padding:50px 0 202px; vertical-align:top; width:216px; }
    #slide7 .slide-box .slide-block { margin:0 13px; }
    #slide7 .slide-box .slide-block.b1 { background:url("../img/img1.jpg") 50% 100% no-repeat; }
    #slide7 .slide-box .slide-block.b2 { background:url("../img/img2.jpg") 50% 100% no-repeat; }
    #slide7 .slide-box .slide-block.b3 { background:url("../img/img3.jpg") 50% 100% no-repeat; }
    #slide7 .slide-box .slide-block.b4 { background:url("../img/img4.jpg") 50% 100% no-repeat; }
    #slide7 .slide-box .slide-block.b5 { background:url("../img/img5.jpg") 50% 100% no-repeat; }
    #slide7 .slide-box .slide-block.b6 { background:url("../img/img6.jpg") 50% 100% no-repeat; }
    #slide7 .slide-box .slide-block.b7 { background:url("../img/img7.jpg") 50% 100% no-repeat; }
    #slide7 .slide-box .slide-block.title { background:#7fbf09; color:#fff; font-size:22px; line-height:28px; }
    #slide7 .slide-box .slide-block.title { padding:60px 0 40px 20px; text-transform:uppercase; width:196px; }
      #slide7 .slide-box .slide-block.title span { font-family:'nerisblack'; }

#slide9 { background:#fff; overflow:hidden; }
  #slide9 .slide-box { margin:0 -10px; }
    #slide9 .slide-box .slide-block { color:#aaa; display:inline-block; font-size:19px; line-height:20px; padding:170px 0 40px; vertical-align:top; }
    #slide9 .slide-box .slide-block { margin:0 13px; width:216px; }
    #slide9 .slide-box .slide-block.b1 { background:url("../img/img8.jpg") 50% 20px no-repeat; }
    #slide9 .slide-box .slide-block.b2 { background:url("../img/img9.jpg") 50% 20px no-repeat; }
    #slide9 .slide-box .slide-block.b3 { background:url("../img/img10.jpg") 50% 20px no-repeat; }
    #slide9 .slide-box .slide-block.b4 { background:url("../img/img11.jpg") 50% 20px no-repeat; padding:205px 0 40px; }
    #slide9 .slide-box .slide-block.b5 { background:url("../img/img12.jpg") 50% 20px no-repeat; padding:205px 0 40px; }
    #slide9 .slide-box .slide-block.b6 { background:url("../img/img13.jpg") 50% 20px no-repeat; padding:205px 0 40px; }
    #slide9 .slide-box .slide-block.b7 { background:url("../img/img14.jpg") 50% 20px no-repeat; padding:205px 0 40px; }
    #slide9 .slide-box .slide-block.title { background:#7fbf09; color:#fff; font-size:22px; line-height:28px; }
    #slide9 .slide-box .slide-block.title { padding:60px 0 40px 20px; text-transform:uppercase; width:196px; }
      #slide9 .slide-box .slide-block.title span { font-family:'nerisblack'; }

#slide11 { background:url("../img/bg7.jpg") 0 0 repeat #fff; }
  #slide11 .slide-pd { padding:50px 20px; }
  #slide11 .calc-title { color:#fff; font-family:'nerisblack'; font-size:54px; line-height:60px; }
  #slide11 .calc-title { padding:0 0 20px; text-align:center; text-transform:uppercase; }
  #slide11 .calc-subtitle { color:#526034; font-size:43px; line-height:45px; margin:0 0 50px; text-align:center; text-transform:uppercase; }
    #slide11 .calc-subtitle span { color:#fff; }
  #slide11 .calc-subtitle { background:url("../img/arrow.png") 8% 50% no-repeat; }
    #slide11 .calc-subtitle div { background:url("../img/arrow.png") 92% 50% no-repeat; }
  #slide11 .calc-section { padding:0 0 30px 35px; }
    #slide11 .calc-section .calc-left { color:#fff; float:left; font-family:'nerissemibold'; font-size:19px; line-height:22px; width:130px; }
    #slide11 .calc-section .calc-center { float:left; padding:0 0 30px; width:620px; }
      #slide11 .calc-section .calc-center .radio { display:inline-block; text-align:center; vertical-align:top; width:120px; }
      #slide11 .calc-section .calc-center .calc-sec1 { float:left; width:370px; }
        #slide11 .calc-section .calc-center .calc-sec1 span { display:inline-block; padding:0 10px; position:relative; vertical-align:middle; }
        #slide11 .calc-section .calc-center .calc-sec1 span { color:#526034; font-size:21px; line-height:21px; }
      #slide11 .calc-section .calc-center .calc-sec2 { float:left; width:250px; }
        #slide11 .calc-section .calc-center .calc-sec2 span { color:#fff; display:inline-block; vertical-align:middle; }
        #slide11 .calc-section .calc-center .calc-sec2 span { font-family:'nerissemibold'; font-size:19px; line-height:22px; padding-right:20px; }
    #slide11 .calc-section .calc-right { color:#fff; float:left; font-family:'nerissemibold'; font-size:26px; line-height:22px; width:140px; }
    #slide11 .calc-section .calc-right { padding:10px 0 0 30px; }
      #slide11 .calc-section .calc-right span { font-size:44px; }

    #slide11 .resultx { font-size: 26px; color: #526034; text-align: center; text-transform: uppercase; padding-bottom: 40px; margin-top: -20px; }
    #slide11 .resultx span { font-family: 'nerisblack'; }

#slide12 {
  background:#f4f3ea;
  background:-moz-linear-gradient(top, #f4f3ea 0%, #ecebd7 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f3ea), color-stop(100%,#ecebd7));
  background:-webkit-linear-gradient(top, #f4f3ea 0%,#ecebd7 100%);
  background:-ms-linear-gradient(top, #f4f3ea 0%,#ecebd7 100%);
  background:linear-gradient(to bottom, #f4f3ea 0%,#ecebd7 100%);
}
  #slide12 .slide-pd { padding:50px 20px; }
  #slide12 .title { font-size:40px; line-height:45px; padding:0 0 30px; text-align:center; text-transform:uppercase; }
    #slide12 .title div { letter-spacing:2px; }
    #slide12 .title span { color:#659900; font-family:'nerissemibold'; }
    #slide12 #bounty { background:url("../img/road.png") 0 0 no-repeat; margin:0 0 0 140px; min-height:1300px; }
    #slide12 #bounty { position:relative; }
      #slide12 #bounty .bount { color:#888; left:160px; line-height:25px; position:absolute; width:500px; }
      #slide12 #bounty .bount:before { display:block; left:-114px; position:absolute; text-align:center; width:50px; }
      #slide12 #bounty .bount:before { color:#659900; font-family:'nerissemibold'; font-size:40px; line-height:45px; }
        #slide12 #bounty .bount.b1 { top:0; } #slide12 #bounty .bount.b1:before { content:"1"; top:15px; }
        #slide12 #bounty .bount.b2 { top:228px; } #slide12 #bounty .bount.b2:before { content:"2"; top:0; }
        #slide12 #bounty .bount.b3 { top:450px; } #slide12 #bounty .bount.b3:before { content:"3"; top:18px; }
        #slide12 #bounty .bount.b4 { top:720px; } #slide12 #bounty .bount.b4:before { content:"4"; top:17px; }
        #slide12 #bounty .bount.b5 { top:1000px; } #slide12 #bounty .bount.b5:before { content:"5"; top:15px; }
        #slide12 #bounty .bount .bount-title { border-bottom:solid 1px #659900; color:#659900; font-family:'nerissemibold'; font-size:40px; }
        #slide12 #bounty .bount .bount-title { line-height:45px; margin:0 0 15px; padding:0 0 10px; }
        #slide12 #bounty .bount span { font-family:'nerissemibold'; font-size:23px; }
        #slide12 #bounty .bount p { font-size:15px; }

#slide13 { background:url("../img/bg5.jpg") 50% 0 no-repeat fixed #fff; }
  #slide13 .slide-pd { padding:50px 20px; }

#slide14 { background:#fff; }
  #slide14 .slide-pd { padding:50px 20px; }
  #slide14 .title { font-size:37px; line-height:50px; padding:0 0 60px; text-align:center; text-transform:uppercase; }
    #slide14 .title span { color:#659900; font-family:'nerissemibold'; font-size:40px; letter-spacing:2px; }
    #slide14 .title strong { color:#659900; font-family:'nerissemibold'; font-size:107px; letter-spacing:4px; line-height:107px; }
  #slide14 #tabs { margin:0 -10px; }
    #slide14 #tabs .tab { display:inline-block; line-height:20px; padding:0 0 40px 150px; vertical-align:top; width:330px; }
    #slide14 #tabs .tab.t1 { background:url("../img/icon8.png") 60px 0 no-repeat; }
    #slide14 #tabs .tab.t2 { background:url("../img/icon9.png") 70px 5px no-repeat; }
    #slide14 #tabs .tab.t3 { background:url("../img/icon10.png") 60px 0 no-repeat; }
    #slide14 #tabs .tab.t4 { background:url("../img/icon11.png") 70px 5px no-repeat; }
    #slide14 #tabs .tab.t5 { background:url("../img/icon12.png") 60px 10px no-repeat; }
    #slide14 #tabs .tab.t6 { padding:40px 0 40px 150px; }
      #slide14 #tabs .tab span { border-bottom:solid 1px #659900; display:block; font-size:20px; line-height:22px; padding:5px 0; }
      #slide14 #tabs .tab p { padding:10px 0; }

#slide16 { background:url("../img/bg6.jpg") 50% 0 no-repeat; height:518px; }
  #slide16 .slide-pd { padding:50px 20px 0; }
  #slide16 .title { color:#fff; font-size:43px; line-height:45px; padding:0 0 40px 10px; text-transform:uppercase; }
    #slide16 .title span { color:#526034; font-family:'nerissemibold'; }
  #slide16 #babs { margin:0 -10px; }
    #slide16 #babs .bab { display:inline-block; margin:0 30px 0 20px; vertical-align:top; width:230px; }
    #slide16 #babs .bab span { border-bottom:solid 1px #526034; color:#fff; display:block; font-family:'neristhin'; font-size:25px; line-height:24px; }
    #slide16 #babs .bab span { padding:0 0 10px 60px; position:relative; text-transform:uppercase; }
    #slide16 #babs .bab span:after { display:block; font-size:96px; left:-10px; position:absolute; text-align:center; top:20px; width:60px; }
    #slide16 #babs .bab.b1 span:after { content:"1"; }
    #slide16 #babs .bab.b2 span:after { content:"2"; }
    #slide16 #babs .bab.b3 span:after { content:"3"; }
    #slide16 #babs .bab p { color:#5b6839; }

#slide18 { background:#fff; }
  #slide18 .slide-pd { padding:50px 20px; }
  #slide18 .title { color:#aaa; font-size:40px; line-height:45px; padding:0 0 50px 10px; text-transform:uppercase; }
    #slide18 .title span { color:#659900; }
    #slide18 .title strong { color:#659900; font-family:'nerisblack'; }
  #slide18 #results { margin:0 -10px; }
    #slide18 #results .result { display:inline-block; padding:0 20px; vertical-align:top; width:270px; white-space:nowrap; background: #fff!important; }
      #slide18 #results .result .result-title { font-size:19px; line-height:22px; padding:0 0 15px; }
      #slide18 #results .result .result-image { border:solid 1px #ddd; height:175px; padding:2px; width:216px; }
      #slide18 #results .result .result-image.r1 { background:url("../img/prew_01.jpg") 50% 50% no-repeat;cursor: pointer; }
      #slide18 #results .result .result-image.r2 { background:url("../img/prew_02.jpg") 50% 50% no-repeat;cursor: pointer; }
      #slide18 #results .result .result-image.r3 { background:url("../img/prew_03.jpg") 50% 50% no-repeat;cursor: pointer; }
      #slide18 #results .result .result-image.r4 { background:url("../img/prew_04.jpg") 50% 50% no-repeat;cursor: pointer; }
      #slide18 #results .result .result-image.r5 { background:url("../img/prew_05.jpg") 50% 50% no-repeat;cursor: pointer; }
      #slide18 #results .result .result-image.r6 { background:url("../img/prew_06.jpg") 50% 50% no-repeat;cursor: pointer; }
      #slide18 #results .result .result-image.r7 { background:url("../img/prew_07.jpg") 50% 50% no-repeat;cursor: pointer; }
      #slide18 #results .result .result-image.r8 { background:url("../img/prew_08.jpg") 50% 50% no-repeat;cursor: pointer; }
      #slide18 #results .result .result-image.r9 { background:url("../img/prew_09.jpg") 50% 50% no-repeat;cursor: pointer; }
      #slide18 #results .result .res { color:#659900; font-family:'neristhin'; font-size:27px; line-height:30px; padding:10px 0 20px; }
        #slide18 #results .result table { border-collapse:collapse; }
          #slide18 #results .result table tr td { color:#999; font-size:15px; line-height:16px; padding:0 15px 20px 0; }
            #slide18 #results .result table tr td span { color:#659900; font-family:'nerissemibold'; font-size:31px; }
              #slide18 #results .result table tr td span span { font-size:17px; }
    #slide18 #results .separator { display:inline-block; margin:50px 70px 40px 20px; vertical-align:top; width:220px; }
    #slide18 #results .separator { background:#ddd; font-size:1px; height:1px; line-height:1px; }

#slide19 { background:#f4f3ea; }
  #slide19 .slide-pd { padding:50px 20px; }
  #slide19 .title { color:#555; font-size:63px; line-height:65px; padding:0 0 50px; text-align:center; text-transform:uppercase; }
  #slide19 .review { padding:0 0 50px; }
    #slide19 .review .review-left { float:left; text-align:center; width:300px; }
      #slide19 .review .review-left div { border:solid 2px #c9c8bf; border-radius:100%; height:142px; margin:0 auto 10px; padding:8px; width:142px; }
      #slide19 .review .review-left.face1 div { background:url("../img/face1.png") 50% 50% no-repeat; }
      #slide19 .review .review-left.face2 div { background:url("../img/face2.png") 50% 50% no-repeat; }
      #slide19 .review .review-left.face3 div { background:url("../img/face3.png") 50% 50% no-repeat; }
      #slide19 .review .review-left.face4 div { background:url("../img/face4.png") 50% 50% no-repeat; }
	  #slide19 .review .review-left.face5 div { background:url("../img/face5.png") 50% 50% no-repeat; }
      #slide19 .review .review-left p { color:#888; font-size:15px; line-height:20px; }
      #slide19 .review .review-left p span { color:#666; font-family:'nerissemibold'; }
    #slide19 .review .review-right { color:#888; float:left; font-size:15px; line-height:20px; width:470px; }
      #slide19 .review .review-right .review-title { color:#659900; font-family:'nerissemibold'; font-size:24px; line-height:28px; }
      #slide19 .review .review-right .review-title { padding:10px 0 15px; position:relative; }
      #slide19 .review .review-right .review-title:before { content:"«"; display:block; left:-15px; position:absolute; top:10px; }
      #slide19 .review .review-right .review-title:after { content:"»"; display:inline-block; }
      #slide19 .review .review-right strong { color:#444; font-family:'nerissemibold'; }

#slide20 { background:url("../img/bg7.jpg") 0 0 repeat; }
  #slide20 .slide-pd { padding:60px 20px 40px; }
  #slide20 .title { color:#4a602d; font-size:54px; line-height:60px; padding:0 0 50px 110px; text-transform:uppercase; }
    #slide20 .title span { color:#fff; font-family:'nerisblack'; font-size:85px; line-height:80px; }
  #slide20 #faq { padding:0 50px 0 110px; }
    #slide20 #faq .faq { float:left; width:360px; }
    #slide20 #faq .faq:last-child { float:right; }
    #slide20 #faq .faq-block { border-bottom:solid 1px #4a602d; margin:0 0 50px; padding:0 60px 30px 0; position:relative; }
    #slide20 #faq .faq-block:last-child { border-bottom:none; }
      #slide20 #faq .faq-block span { color:#4a602d; display:block; font-family:'nerissemibold'; font-size:22px; line-height:24px; padding:0 0 20px; }
      #slide20 #faq .faq-block span.cloud { background:url("../img/cloud.png") 0 0 no-repeat; display:block; height:76px; padding:0; width:77px; }
      #slide20 #faq .faq-block span.cloud { left:-40px; position:absolute; top:-30px; }
      #slide20 #faq .faq-block p { color:#fff; font-size:19px; line-height:22px; }

#slide21 { background:#fff; }
  #slide21 .slide-pd { padding:50px 20px; }
  #slide21 .title { color:#888; font-size:48px; line-height:50px; padding:0 0 40px; text-align:center; text-transform:uppercase; }
  #slide21 #certificates { text-align:center; }
    #slide21 #certificates a { display:inline-block; margin:0 30px; padding-top:165px; vertical-align:top; width:113px; }
    #slide21 #certificates a { color:#769823; font-size:15px; line-height:16px; position:relative; text-align:left; text-decoration:none; }
      #slide21 #certificates a span { display:block; height:148px; left:0; position:absolute; top:0; width:113px; }
      #slide21 #certificates a:hover span { background:url("../img/meta.png") 0 0 no-repeat; }
    #slide21 #certificates a.c1 { background:url("../img/cert1.jpg") 0 0 no-repeat; }
    #slide21 #certificates a.c2 { background:url("../img/cert2.jpg") 0 0 no-repeat; }
    #slide21 #certificates a.c3 { background:url("../img/cert3.jpg") 0 0 no-repeat; }
    #slide21 #certificates a.c4 { background:url("../img/cert4.jpg") 0 0 no-repeat; }

#slide22 { background:#f4f3ea; }
  #slide22 .slide-pd { padding:50px 20px; }
  #slide22 .title { font-size:48px; line-height:50px; padding:0 0 40px; text-align:center; text-transform:uppercase; }
    #slide22 .title span { color:#659900; font-family:'nerissemibold'; }
  #slide22 #videos { margin:0 10px; }
    #slide22 #videos .video-block { float:left; text-align:center; width:446px; }
    #slide22 #videos .video-block:last-child { float:right; }
      #slide22 #videos .video-block .video { background:#000; box-shadow:0 1px 10px #000; height:283px; width:446px; }
      #slide22 #videos .video-block p { font-size:23px; line-height:25px; padding:30px 0 0; }

#slide24 { background:#fff; }
  #slide24 .slide-pd { padding:50px 20px; }
  #slide24 .title { color:#659900; font-size:48px; line-height:50px; padding:0 0 40px; text-align:center; text-transform:uppercase; }
  #slide24 .adress { background:url("../img/icons.png") 264px 72px no-repeat; line-height:24px; padding:0 0 40px 340px; }
    #slide24 .adress p { padding:0 0 20px; }
      #slide24 .adress span { font-size:22px; }
  #slide24 #map { background:url("../img/map.png") 0 0 no-repeat; height:512px; margin:auto; position:relative; width:839px; }
    #slide24 #map div { color:#000; font-family:'pf_beausans_prolight'; font-size:19px; line-height:20px; padding-top:80px; position:absolute; }
    #slide24 #map div.flag1 { background:url("../img/slider-dot.png") 70% 0 no-repeat; left:1px; top:110px; } /* польша */
    #slide24 #map div.flag2 { background:url("../img/slider-dot.png") 0 10px no-repeat; left:180px; top:120px; } /* тернопіль */
    #slide24 #map div.flag3 { background:url("../img/slider-dot.png") 60% 10px no-repeat; left:420px; top:70px; } /* київ */
  #slide24 #q { padding:40px 100px 0; }
    #slide24 #q .q-left { color:#aaa; float:left; font-size:42px; line-height:45px; text-transform:uppercase; }
      #slide24 #q .q-left span { color:#659900; font-family:'nerissemibold'; }
    #slide24 #q .q-right { float:right; }
      #slide24 #q .q-right a { border-bottom:dashed 1px #5ba0e0; color:#5ba0e0; font-family:'neristhin'; font-size:20px; line-height:42px; }
      #slide24 #q .q-right a { text-decoration:none; }
      #slide24 #q .q-right a:hover { border-bottom:none; }

#footer { background:#f4f3ea; height:130px; overflow:hidden; }
  #footer .slide-pd { padding:20px 20px 0; }
  #footer .footer-phones { color:#333; float:left; font-size:14px; width:230px; }
    #footer .footer-phones span { display:block; font-family:'nerissemibold'; font-size:19px; padding:3px 0; }
    #footer .footer-phones a.call { border-bottom:dashed 1px #5ba0e0; color:#5ba0e0; font-family:'neristhin'; font-size:13px; }
    #footer .footer-phones a.call { text-decoration:none; text-transform:uppercase; }
    #footer .footer-phones a.call:hover { border-bottom:none; }
  #footer .conf { float:left; padding:25px 0 0; }
    #footer .conf a { border-bottom:dashed 1px #5ba0e0; color:#5ba0e0; font-family:'neristhin'; font-size:13px; }
    #footer .conf a { text-decoration:none; text-transform:uppercase; }
    #footer .conf a:hover { border-bottom:none; }
  #footer .mokselle { float:right; padding:10px 0 0; }
    #footer .mokselle a { background:url("../img/moks.png") 100% 50% no-repeat; display:block; height:40px; line-height:40px; padding:0 150px 0 0; }
    #footer .mokselle a { color:#5ba0e0; font-family:'neristhin'; font-size:13px; text-decoration:none; text-transform:uppercase; }
    #footer .info { color:#333; font-family:'nerislight'; font-size:12px; line-height:12px; padding:10px 0 0; }

/* Jquery UI Slider */

.slider-box { background:url("../img/slider-sections.png") 50% 90% no-repeat #fff; border-radius:25px; height:54px; position:relative; }
.slider-box .zerg { color:#4a602d; display:block; font-size:13px; position:absolute; top:65px; }
.slider-box .zerg.z1 { left:37px; }
.slider-box .zerg.z2 { left:80px; }
.slider-box .zerg.z3 { left:125px; }
.slider-box .zerg.z4 { left:170px; }
.slider-box .zerg.z5 { left:214px; }
.slider-box .zerg.z6 { left:258px; }
.slider-box .zerg.z7 { left:301px; }
.slider-box .zerg.z8 { left:343px; }
.slider-box .zerg.z9 { left:386px; }
.slider-box .zerg.z10 { left:430px; }
.slider-box .zerg.z11 { left:474px; }
.slider-box .zerg.z12 { left:516px; }
.slider-box .zerg.z13 { left:558px; }
.slider-rise { background:url("../img/slider-white.png") 0 0 no-repeat; height:18px; margin:auto; position:relative; top:18px; width:563px; }

.ui-slider { cursor:pointer; height:18px; margin:auto; position:relative; top:0; width:530px; }
.ui-slider .ui-slider-handle { background:url("../img/slider-dot.png") 0 0 no-repeat; display:block; height:39px; margin-left:-13px; position:absolute; top:-7px; width:26px; }
.ui-slider .ui-slider-range { background:url("../img/slider-green.png") 0 0 repeat-x; height:18px; left:-2px; position:absolute; top:1px; }