/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Anton Lukashov | cassador.ru */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Fonts */

@font-face {
  font-family:'nerisblack';
  src:url("../fonts/neris-black-webfont.eot"/*tpa=http://enviro-tabs.com/m/fonts/neris-black-webfont.eot*/);
  src:url("../fonts/neris-black-webfont.eot-#iefix"/*tpa=http://enviro-tabs.com/m/fonts/neris-black-webfont.eot?#iefix*/) format('embedded-opentype'),
      url("../fonts/neris-black-webfont.woff"/*tpa=http://enviro-tabs.com/m/fonts/neris-black-webfont.woff*/) format('woff'),
      url("../fonts/neris-black-webfont.ttf"/*tpa=http://enviro-tabs.com/m/fonts/neris-black-webfont.ttf*/) format('truetype'),
      url("../fonts/neris-black-webfont.svg#nerisblack"/*tpa=http://enviro-tabs.com/m/fonts/neris-black-webfont.svg#nerisblack*/) format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'nerislight';
  src:url("../fonts/neris-light-webfont.eot"/*tpa=http://enviro-tabs.com/m/fonts/neris-light-webfont.eot*/);
  src:url("../fonts/neris-light-webfont.eot-#iefix"/*tpa=http://enviro-tabs.com/m/fonts/neris-light-webfont.eot?#iefix*/) format('embedded-opentype'),
      url("../fonts/neris-light-webfont.woff"/*tpa=http://enviro-tabs.com/m/fonts/neris-light-webfont.woff*/) format('woff'),
      url("../fonts/neris-light-webfont.ttf"/*tpa=http://enviro-tabs.com/m/fonts/neris-light-webfont.ttf*/) format('truetype'),
      url("../fonts/neris-light-webfont.svg#nerislight"/*tpa=http://enviro-tabs.com/m/fonts/neris-light-webfont.svg#nerislight*/) format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'nerissemibold';
  src:url("../fonts/neris-semibold-webfont.eot"/*tpa=http://enviro-tabs.com/m/fonts/neris-semibold-webfont.eot*/);
  src:url("../fonts/neris-semibold-webfont.eot-#iefix"/*tpa=http://enviro-tabs.com/m/fonts/neris-semibold-webfont.eot?#iefix*/) format('embedded-opentype'),
      url("../fonts/neris-semibold-webfont.woff"/*tpa=http://enviro-tabs.com/m/fonts/neris-semibold-webfont.woff*/) format('woff'),
      url("../fonts/neris-semibold-webfont.ttf"/*tpa=http://enviro-tabs.com/m/fonts/neris-semibold-webfont.ttf*/) format('truetype'),
      url("../fonts/neris-semibold-webfont.svg#nerissemibold"/*tpa=http://enviro-tabs.com/m/fonts/neris-semibold-webfont.svg#nerissemibold*/) format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'neristhin';
  src:url("../fonts/neris-thin-webfont.eot"/*tpa=http://enviro-tabs.com/m/fonts/neris-thin-webfont.eot*/);
  src:url("../fonts/neris-thin-webfont.eot-#iefix"/*tpa=http://enviro-tabs.com/m/fonts/neris-thin-webfont.eot?#iefix*/) format('embedded-opentype'),
      url("../fonts/neris-thin-webfont.woff"/*tpa=http://enviro-tabs.com/m/fonts/neris-thin-webfont.woff*/) format('woff'),
      url("../fonts/neris-thin-webfont.ttf"/*tpa=http://enviro-tabs.com/m/fonts/neris-thin-webfont.ttf*/) format('truetype'),
      url("../fonts/neris-thin-webfont.svg#neristhin"/*tpa=http://enviro-tabs.com/m/fonts/neris-thin-webfont.svg#neristhin*/) format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'pf_beausans_prolight';
  src:url("../fonts/pfbeausanspro-light-webfont.eot"/*tpa=http://enviro-tabs.com/m/fonts/pfbeausanspro-light-webfont.eot*/);
  src:url("../fonts/pfbeausanspro-light-webfont.eot-#iefix"/*tpa=http://enviro-tabs.com/m/fonts/pfbeausanspro-light-webfont.eot?#iefix*/) format('embedded-opentype'),
      url("../fonts/pfbeausanspro-light-webfont.woff"/*tpa=http://enviro-tabs.com/m/fonts/pfbeausanspro-light-webfont.woff*/) format('woff'),
      url("../fonts/pfbeausanspro-light-webfont.ttf"/*tpa=http://enviro-tabs.com/m/fonts/pfbeausanspro-light-webfont.ttf*/) format('truetype'),
      url("../fonts/pfbeausanspro-light-webfont.svg#pf_beausans_prolight"/*tpa=http://enviro-tabs.com/m/fonts/pfbeausanspro-light-webfont.svg#pf_beausans_prolight*/) format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'proxima_nova_excn_ltlight';
  src:url("../fonts/proxima_nova_extra_condensed_light-webfont.eot"/*tpa=http://enviro-tabs.com/m/fonts/proxima_nova_extra_condensed_light-webfont.eot*/);
  src:url("../fonts/proxima_nova_extra_condensed_light-webfont.eot-#iefix"/*tpa=http://enviro-tabs.com/m/fonts/proxima_nova_extra_condensed_light-webfont.eot?#iefix*/) format('embedded-opentype'),
      url("../fonts/proxima_nova_extra_condensed_light-webfont.woff"/*tpa=http://enviro-tabs.com/m/fonts/proxima_nova_extra_condensed_light-webfont.woff*/) format('woff'),
      url("../fonts/proxima_nova_extra_condensed_light-webfont.ttf"/*tpa=http://enviro-tabs.com/m/fonts/proxima_nova_extra_condensed_light-webfont.ttf*/) format('truetype'),
      url("../fonts/proxima_nova_extra_condensed_light-webfont.svg#proxima_nova_excn_ltlight"/*tpa=http://enviro-tabs.com/m/fonts/proxima_nova_extra_condensed_light-webfont.svg#proxima_nova_excn_ltlight*/) format('svg');
  font-weight:normal;
  font-style:normal;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* cassador.ru */